name: Continuous Integration

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [20]

    steps:
    - uses: actions/checkout@v2

    - uses: pnpm/action-setup@v2
      with:
        version: 9.0.6

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        cache: "pnpm"

    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@3.0
      with:
        cli: '1.11.1.1149'

    - name: Clojure dependency cache
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('shadow-cljs.edn') }}
        restore-keys: |
          ${{ runner.os }}-m2-

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Start shadow server
      run: pnpm start

    - name: Verify Lint
      run: pnpm lint

    - name: Verify Tests
      run: CI=true pnpm test
